<h4 class="mt-5 animated fadeIn fast">Modificar un empleado</h4>
<hr>
<div class="container p-4 mt-5 animated fadeIn">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card-header">
                <h4>Datos del empleado</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="employeeFomr" (ngSubmit)="onSubmit()">
                        <div class=" form-group">
                            <input type="text" formControlName="name" class="form-control" placeholder="Nombres" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="surname" class="form-control" placeholder="Apellidos" required>
                        </div>
                        <div class="form-group">
                            <label for="tipoDoc">Tipo de documento</label>
                            <select formControlName="docType" id="tipoDoc" class="form-control" required>
                              <option>cc</option>
                              <option>nit</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" formControlName="docNumber" class="form-control" placeholder="Número de documento" required>
                        </div>
                        <div class="form-group">
                            <input type="number" formControlName="salary" class="form-control" placeholder="Salario mensual" required>
                        </div>
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="tipoDoc">Fecha de ingreso</label>
                            <input type="date" formControlName="date" name="fecha" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit" [disabled]="!employeeFomr.valid">
                                Actualizar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- PEGAR AQUI -->

    </div>
</div>